@import '../../colors.scss';
.music-player {
  text-align: center;

  .music-player__album-art {
    width: 100vw;
    height: 56vh;
    max-width: 450px;
    max-height: 450px;
  }

  .music-player__player-area {
    color: $white;
    min-height: 45vh;
    margin-top: -5px;
    padding-top: 1rem;

    h1,
    h4 {
      padding-bottom: 0;
    }
  }
}
