@import '../../colors.scss';
.music-player {
  text-align: center;

  .music-player__album-art {
    width: 100vw;
    height: 100vw;
    max-width: 450px;
    max-height: 450px;
    background-color: $black;
  }

  .music-player__player-area {
    // background-color: #6b1022;
    color: white;
    min-height: calc(100vh - 100vw);
    margin-top: -5px;
    padding-top: 2rem;

    h1,
    h4 {
      padding-bottom: 0;
    }

    > * {
      padding: 1rem 0;
    }

    .music-player__player-area__play-button {
      $button-dimension: 30px;
      width: $button-dimension;
      height: $button-dimension;
    }
  }
}
